coverage>=5.1
coverage_pyver_pragma>=0.0.5
faker>=4.1.2
pandas>=1.0.0; implementation_name == "cpython" and python_version < "3.9"
pytest>=6.0.0
pytest-cov>=2.8.1
pytest-randomly>=3.3.1
pytest-rerunfailures>=9.0
pytz>=2019.1
