coverage>=5.1
coverage-pyver-pragma>=0.0.6
faker>=4.1.2
iniconfig!=1.1.0,>=1.0.1
pandas>=1.0.0; implementation_name == "cpython" and python_version < "3.10"
pytest>=6.0.0
pytest-cov>=2.8.1
pytest-randomly>=3.3.1
pytest-regressions>=2.0.1
pytest-rerunfailures>=9.0
pytest-timeout>=1.4.2
pytz>=2019.1
